/*
|--------------------------------------------------------------------------
| #ADMIN USER STYLES
|--------------------------------------------------------------------------
*/

.admin {

    // #VIEW
    // =========================================================================

    .users-view, .users-edit {

        &__container {
            padding-top:3rem;

            .title-bar {
                display:flex;
                align-items:center;
                justify-content:space-between;
                margin-bottom:1rem;
                width:100%;

                @media screen and (max-width:32em) {
                    flex-direction:column;
                    padding-left:1rem;
                    padding-right:1rem;
                }

                h1 {
                    margin-bottom:0;
                    font-size:2.25rem;

                    @media screen and (max-width:32em) {
                        text-align:center;
                        margin-bottom:1rem;
                    }
                }

                a {
                    border-radius:3px;
                }
            }

            .avatar, .content {
                background-color:#ffffff;
                border-radius:5px;
                padding:1.5rem;
                margin-bottom:1rem;
            }

            .avatar {
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;

                &-wrapper {
                    max-width:100%;
                    overflow:hidden;
                    margin-bottom:1rem;

                    img {
                        width:100%;
                        height:100%;
                        object-fit:cover;
                    }
                }

                .button {
                    border-radius:3px;
                }
            }

            .content {

                h2, h4, p {
                    color:$secondary;
                }

                h2 {
                    font-size:2.5rem
                }

                .detail {
                    display:flex;
                    align-items:center;

                    h4 {
                        font-weight:700;
                        margin-bottom:1rem;
                        margin-right:1rem;
                    }

                    p {
                        margin-bottom:1rem;
                    }
                }
            }
        }
    }

    .users-edit {

        form {
            width:100%;

            .detail {
                flex-direction:column;
                align-items:flex-start!important;
                padding-bottom:1rem;

                label {
                    color:$secondary;
                    padding-bottom:.5rem;
                    font-weight:600;
                }

                input {
                    padding-left:.4rem;
                    width:100%;
                }
            }

            .password-container {
                position:relative;
                width:100%;

                input {
                    padding-right:3rem;
                    padding-left:.4rem;
                }

                i {
                    position:absolute;
                    right:1rem;
                    bottom:.1rem;
                }
            }

            .button {
                margin-top:1rem;
                border-radius:3px;
            }

            .avatar {

                label {
                    color:$secondary;
                    font-weight:600;
                }

                .featured-image {
                    color: color(secondary);
                    text-decoration: underline;
                    text-decoration-skip: ink;
                    cursor: pointer;
                    width:100%;

                    &:hover {
                        color: lighten(color(secondary), 10%);
                    }

                    input {
                        display: none;
                    }
                }

                .image-preview {
                    margin-top:.5rem;
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    display: none;
                }
            }
        }
    }
}