<div class="off-canvas">
    <ul>
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('home') }}#blog">Blog</a></li>
        <li><a href="{{ path_for('home') }}#about">About</a></li>
        <li><a href="{{ path_for('home') }}#contact">Contact</a></li>
        <li><a href="#">Subscribe</a></li>
    </ul>

    <hr>

    <div class="socials-wrapper">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-vimeo"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
</div>
