<div class="paginate__container">
    {% if context == 'posts' %}
        {% if posts.hasPages %}
            {% if posts.onFirstPage %}
                
            {% else %}
                <a href="{{ posts.previousPageUrl }}">Prev Page</a>
                {% if posts.hasMorePages %}
                    /
                {% endif %}
            {% endif %}
            {% if posts.hasMorePages %}
                    <a href="{{ posts.nextPageUrl }}">Next Page</a>
            {% else %}

            {% endif %}
        {% endif %}
    {% endif %}
</div>