<p>Hey there! A new article has been posted on millenniallawyer.com. Take a look:</p>
<h4>{{ post.title }}</h4>
<p>{{ post.body|slice(0, 900) }}...</p>
<p style="text-align:center;">
    <a href="http://millenniallawyer.darkroast.co/{{ post.slug }}">Click to read more</a>
</p>
