/*
|--------------------------------------------------------------------------
| #MODAL
|--------------------------------------------------------------------------
*/

.modal {
    position: fixed;
    top: 15vh;
    left: 20vw;
    height: 70vh;
    width: 60vw;
    z-index: z(highest);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease(inOutQuint);
    overflow:scroll;
    background:#ffffff;
    padding:2rem;

    @media screen and (max-width:64em) {
        width:80vw;
        left:10vw;
    }

    .container--full {
        display:block;

        img {
            float:left;
            max-width:350px;
            margin-right:1rem;
            margin-bottom:1rem;

            @media screen and (max-width:48em) {
                max-width:100%;
            }
        }
    }

    p, h4 {
        color:$secondary;
    }

    h4 {
        font-weight:800;
    }

    h2 {
        color:$primary
    }

    &.is--open {
        visibility: visible;
        opacity: 1;

        > * {
            pointer-events: all;
        }
    }
}
